[Desktop Entry]
Encoding=UTF-8
Name=Link to devops-capstone-project/Dockerfile at main · mj-green/devops-capstone-project
Type=Link
URL=https://github.com/mj-green/devops-capstone-project/blob/main/Dockerfile
Icon=text-html
