[Desktop Entry]
Encoding=UTF-8
Name=Link to devops-capstone-project/.github/ci-build.yaml at main · mj-green/devops-capstone-project
Type=Link
URL=https://github.com/mj-green/devops-capstone-project/blob/main/.github/ci-build.yaml
Icon=text-html
